.page-footer .footer-copyright {
    align-items: center;
    justify-content: center;
    background-color: #034159 !important;
}

footer {

}

footer div div {
    font-weight: bolder;
}

.page-footer {
    background-color: #4789B3;
}
